@font-face {
font-family: 'Gotham Rounded Bold';
font-style: normal;
font-weight: normal;
src: local('Gotham Rounded Bold'), url('fonts/gotham-rounded/Gotham Rounded Bold.woff') format('woff');
}


@font-face {
font-family: 'Gotham Rounded Light';
font-style: normal;
font-weight: normal;
src: local('Gotham Rounded Light'), url('fonts/gotham-rounded/Gotham Rounded Light.woff') format('woff');
}


@font-face {
font-family: 'Gotham Rounded Light Italic';
font-style: normal;
font-weight: normal;
src: local('Gotham Rounded Light Italic'), url('fonts/gotham-rounded/Gotham Rounded Light Italic.woff') format('woff');
}


@font-face {
font-family: 'Gotham Rounded Medium';
font-style: normal;
font-weight: normal;
src: local('Gotham Rounded Medium'), url('fonts/gotham-rounded/Gotham Rounded Medium.woff') format('woff');
}


@font-face {
font-family: 'Gotham Rounded Medium Italic';
font-style: normal;
font-weight: normal;
src: local('Gotham Rounded Medium Italic'), url('fonts/gotham-rounded/Gotham Rounded Medium Italic.woff') format('woff');
}

*{
  font-family: Gotham Rounded Medium;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type="radio"]:checked+label {
    font-weight: bold;
    text-decoration: underline;
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: Gotham Rounded Medium;
}

.back {
    color: #ffdb5c;
}


/*background home*/
.home {
    background: url(../img/back1.jpg);
    background-size: cover !important;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

}

.page {
    background: url(../img/back3.jpg);
    background-size: cover !important;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    padding-top: 70px;

}

.data {
    background: #ffffff47;
    width: 240px;
    margin: auto;
    position: relative;
    top: -5px;
}

.data p {
    font-size: 12px;
    padding: 2px 0;
    font-weight: bold;
}

.data h3 {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 0;
}
/*center logo index*/
.logoba img {
    width: 270px;
    padding: 50px 0;
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
}

.ejes img {
    width: 160px;
}

#ejetitle {
    color: #000;
    font-size: 36px;
    padding-top: 2px;
}

.homemeader {
    height: 62px;
    background: #ffffff38;
    position: relative;
    top: -60px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.page2{
  padding-top: 50px;
}

.page1, .page2{
  height: 100%;
  position: relative;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  top: 0
}

#page3{
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
      overflow-y: scroll;
}


.slidetotop{
  top: -100%
}

.showheader {
    top: 0;
    display: block;
    z-index: 1;
}

.homemeader img {
    width: 80px;
    margin-top: 10px;
}

.homemeader img {
    cursor: pointer;
}

.homemeader img:hover {
    margin-top: 5px;
}

.ejes img {
    cursor: pointer;
}

.ejes img:hover {
    position: relative;
    top: -5px;
}

.listcamp {
    text-align: center;
    margin-top: 20px;
}

.listcamp img {
    width: 240px;
}

.scale{
  opacity: 0;
  transform: scale(2);
}

.pt-page-2, .pt-page-3 {
    background-position: center !important;
    background-size: cover !important;
}

.menuoptions label {
    cursor: pointer;
}

.menuoptions input {
    display: none;
}

.changeback{
  background: url(../img/back2.jpg);
}

.changeback2{
  background: url(../img/back3.jpg);
}

.backdisfrute{
  background: url(../img/backdisfrute2.jpg);
}

.backsocial{
  background: url(../img/backsocial.jpg);
}

.backseguridad{
  background: url(../img/backseguridad.jpg);
}

.backtransformacion{
  background: url(../img/backtransformacion1.jpg);
}

.pieces li img {
    width: 85%;
}

ul#image-gallery li {
    text-align: center;
}

ul.lSPager.lSGallery {
    margin: auto !important;
}

.card {
    background: none;
    border: none;
    box-shadow: none;
}

.card-header {
    background: none;
    border: none;
}

.card-header button.btn.btn-link {
    background: #2a2a2a;
    width: 120px;
    text-align: left;
    color: #fed700;
}

ul.menuoptions {
    padding-left: 6px;
    list-style: none;
    margin: 0;
}

.card-body {
    padding: 5px 25px;
}

p.objetivos {
    font-size: 14px;
}


.accordion {
    margin-top: 0px;
}

img.back {
    width: 100px;
    margin-left: 30px;
}

.hidden{
  opacity: 0
}

video {
    width: 75%;
}

.displaynone{
  display: none
}

span.lb-number {
    display: none !important;
}

.pieces{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


#page2 {
    overflow-y: scroll;
    padding-bottom: 100px;
}











/* ------------------------------------------------------------------- */
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.months {
    height: 175px;
}


.months img {
    width: 85%;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 120px;
}

.months img:hover {
    width: 90%;
    cursor: pointer;
    box-shadow: -1px 4px 11px 0px #585858;
}



.campimg img {
    width: 85%;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 120px;
}

.campimg img:hover {
    width: 90%;
    cursor: pointer;
    box-shadow: -1px 4px 11px 0px #585858;
}



.subtitle {
    margin-top: 5px;
    font-size: 13px;
    background: #ffffffd9;
    border-radius: 1px;
    font-weight: 100;
    padding: 3px;
    border-radius: 5px;
}

.subtitle span {
    display: table-cell;
    width: 160px;
    height: 40px;
    vertical-align: middle;
    color: #2f2f2f;
}

#titlecamp {
    color: #232323;
        font-size: 20px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    height: 780px;
}


.overlay {
    width: 100%;
    height: 130%;
    position: absolute;
    background: #00000026;
    padding-top: 40px;
}

.headerback {
    background: #ffffffb8;
    padding: 10px 10px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    border-radius: 4px;
}


.bgtransparent {
    background: transparent;
    /* margin-top: 30px; */
}





/* efecto loco */
.circle {
    background: #FFF;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}



/* internas */

#enero{
  	background-image: url("../img/bgenero1.jpg");
}

.enero{
    background-image: url("../img/bgenero2.jpg");
}

#febrero{
  background-image: url("../img/bgfebrero1.jpg");
}

#marzo{
  background-image: url("../img/bgmarzo.jpg");
}

#abril{
  background-image: url("../img/bgabril.jpg");
  overflow-y: scroll;
}

#mayo{
  background-image: url("../img/bgmayo.jpg");
}

#junio{
  background-image: url("../img/bgjunio.jpg");
}

#julio{
  background-image: url("../img/bgjulio.jpg");
}

#agosto{
  background-image: url("../img/bgagosto.jpg");
}

#septiembre{
  background-image: url("../img/bgseptiembre.jpg");
}

#octubre{
  background-image: url("../img/bgoctubre.jpg");
}

#noviembre{
  background-image: url("../img/bgnoviembre.jpg");
}

#diciembre{
  background-image: url("../img/bgdiciembre.jpg");
}



.internal {
    padding-top: 70px;
}

.bg2{
  background: url('../img/back2.jpg')
}


.contentcampain {
    padding: 10px 10px;
    color: #151515;
    background: red;
    margin-top: 22px;
    background: #ffffffd1;
    min-height: 600px;
}

a.back {
    background: #2f2f2f;
    padding: 5px;
    border-radius: 5px;
}

.headercampain {
    background: #ffffffd1;
    padding: 10px 10px;
    color: #151515;
    border-radius: 5px;
}


.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}

.nav {
    text-align: center;
    display: block !important;
    position: relative;
    left: 60px;
}

.nav-tabs {
    border-bottom: none;
}


ul.nav.nav-tabs li {
    display: inline-block !important;
}

ul.nav.nav-tabs li a {
    color: #FFF;
    font-size: 20px;
    margin: 5px 15px 16px 15px;
    display: block;
}


/* FLIP CARD/ */

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 155px;
  height: 155px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
}

.flip-card-back {
  background-color: #ffd500;
  color: white;
  transform: rotateY(180deg);
  border-radius: 90px;
}

.title {
    position: relative;
    top: 43%;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}



/* Style the tab */
.tab {
    float: left;
    background-color: #ffd500;
    width: 14%;
    height: 600px;
    position: relative;
    top: -61px;
    left: -10px;
    border-radius: 8px 0 0 8px !important;
    padding-top: 60px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: #ffd500;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #f7cf05;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #f7cf05;
}

li.lslide.active {
    text-align: center;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 85%;
  height: 370px;
}


.font12 {
    font-size: 17px;
}

.lightSlider img {
    width: 670px;
    display: block;
    margin: auto;
}

.pieces.subtv {
    height: 600px;
}


#subtv, #redes {
    height: 580px !important;
}

#subtv video, #redes  video {
    width: 314px;
}


.card-header button.btn.btn-link {
    background: rgb(254, 215, 0);
    width: 120px;
    text-align: left;
    color: rgb(42, 42, 42);
}

.pieces video {
width: 800px !important;
height: 520px;
}


.lSPager {
    display: none;
}

.pieces {
    height: 600px;
}


.newfather label {
    background: rgb(254, 215, 0);
    width: 120px;
    padding: 3px 11px;
    border-radius: 3px;
    color: rgb(42, 42, 42);
}

label {
    display: inline-block;
    margin-bottom: 0;
}

.accordion input[type="radio"] {
    display: none;
}


.btn-link label {
    cursor: pointer !important;
}



.loader {
    width: 100%;
    height: 100%;
    background: #efc002;
    position: absolute;
    z-index: 2;
    top: 0px;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}


.loader img {
    width: 12%;
    vertical-align: middle;
    top: 45%;
    position: relative;
    left: 42%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
}

.loadereffect{
  transform: scale(1.2);
    filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.4)) !important;
}

.headercampain div {
    position: relative;
}

.headercampain div:after {
    content: '';
    position: absolute;
    width: 212px;
    display: block;
    height: 2px;
    background-color: #000;
    bottom: 4px;
}

.row.listcamp {
    height: 600px;
    padding-bottom: 50px;
}

span.download {
  background: #fed700;
color: #2b2b2b;
padding: 1px 6px;
border-radius: 15px;
font-weight: bold;
}

.flexslider li a p {
    color: #ffffff;
    background: #242424;
    width: 207px;
    margin: auto;
    padding: 6px;
    margin-bottom: 15px;
    margin-top: 35px;
    border-radius: 5px;
}


ul.slides li {
    height: 610px;
}

ul.slides li video:first-child {
    height: 504px;
}

ul.slides li audio:first-child {
    height: 504px;
}

ul.slides li a:first-child {
    height: 510px !important;
    display: block;
}

ul.slides li audio:first-child {
    height: 240px;
    margin-bottom: 263px;
}

.flex-control-nav {
    bottom: 70px !important;
}


ul.menuoptions label {
  font-size: 16px;
  line-height: 22px;
}